# Première visualisation du dataset

In [55]:
import numpy as np
import pandas as pd
# import sklearn

In [56]:
from matplotlib import pyplot as plt
from matplotlib import cm

## Affichage des 20 premiers joueurs

In [8]:
filename = 'dataset.csv'
names = ['Rk','Player','Nation','Pos','Squad','Comp','Age','Born','MP','Starts','Min','90s','Goals','Shots','SoT','SoT%','G/Sh','G/SoT','ShoDist','ShoFK','ShoPK','PKatt','PasTotCmp','PasTotAtt','PasTotCmp%','PasTotDist','PasTotPrgDist','PasShoCmp','PasShoAtt','PasShoCmp%','PasMedCmp','PasMedAtt','PasMedCmp%','PasLonCmp','PasLonAtt','PasLonCmp%','Assists','PasAss','Pas3rd','PPA','CrsPA','PasProg','PasAtt','PasLive','PasDead','PasFK','TB','PasPress','Sw','PasCrs','CK','CkIn','CkOut','CkStr','PasGround','PasLow','PasHigh','PaswLeft','PaswRight','PaswHead','TI','PaswOther','PasCmp','PasOff','PasOut','PasInt','PasBlocks','SCA','ScaPassLive','ScaPassDead','ScaDrib','ScaSh','ScaFld','ScaDef','GCA','GcaPassLive','GcaPassDead','GcaDrib','GcaSh','GcaFld','GcaDef','Tkl','TklWon','TklDef3rd','TklMid3rd','TklAtt3rd','TklDri','TklDriAtt','TklDri%','TklDriPast','Press','PresSucc','Press%','PresDef3rd','PresMid3rd','PresAtt3rd','Blocks','BlkSh','BlkShSv','BlkPass','Int','Tkl+Int','Clr','Err','Touches','TouDefPen','TouDef3rd','TouMid3rd','TouAtt3rd','TouAttPen','TouLive','DriSucc','DriAtt','DriSucc%','DriPast','DriMegs','Carries','CarTotDist','CarPrgDist','CarProg','Car3rd','CPA','CarMis','CarDis','RecTarg','Rec','Rec%','RecProg','CrdY','CrdR','2CrdY','Fls','Fld','Off','Crs','TklW','PKwon','PKcon','OG','Recov','AerWon','AerLost','AerWon%']
dataset = pd.read_csv(filename, sep=";", names=names)
dataset.head(10)

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
1,1,Max Aarons,ENG,DF,Norwich City,Premier League,22,2000,34,32,...,0.03,1.41,1.16,0,0.06,0.03,5.53,0.47,1.59,22.7
2,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34,1987,34,34,...,0,0.06,1.39,0,0.03,0,6.77,2.02,1.36,59.8
3,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22,2000,31,29,...,0,0.36,1.24,0,0,0,8.76,0.88,0.88,50
4,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29,1993,34,34,...,0.03,0.79,2.23,0,0,0,8.87,0.43,0.43,50
5,5,Charles Abi,FRA,FW,Saint-Etienne,Ligue 1,22,2000,1,1,...,0,2,0,0,0,0,4,2,0,100
6,6,Dickson Abiama,NGA,FW,Greuther Fürth,Bundesliga,23,1998,24,5,...,1.85,0.25,0.86,0,0,0,4.81,2.72,4.94,35.5
7,7,Matthis Abline,FRA,FW,Rennes,Ligue 1,19,2003,7,1,...,0,0.91,0,0,0,0,6.36,0,1.82,0
8,8,Tammy Abraham,ENG,FW,Roma,Serie A,24,1997,37,36,...,0.5,0.7,0.64,0.03,0.03,0,3.67,2.39,2.89,45.3
9,9,Luis Abram,PER,DF,Granada,La Liga,26,1996,8,6,...,0,0,0.97,0,0,0.16,4.03,1.94,2.42,44.4

In [9]:
dataset.describe()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
count,2922,2922,2921,2922,2922,2922,2921,2922,2922,2922,...,2922,2922,2922,2922,2922,2922,2922,2922,2922,2922
unique,2922,2787,103,12,101,6,27,28,39,40,...,147,405,275,36,35,22,758,484,478,521
top,1961,Marcelo,ESP,DF,Salernitana,Serie A,25,1997,1,0,...,0,0,0,0,0,0,0,0,0,0
freq,1,3,435,942,42,632,243,249,252,396,...,1489,750,539,2601,2450,2772,114,489,419,489

## Affichage de la première occurrence des lignes où le nom du joueur est dupliqué

In [38]:
dup = dataset.duplicated(subset='Player')
indexes_dup = list(dup[dup == True].index)
dataset.iloc[indexes_dup]

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
70,70,Dele Alli,ENG,MFFW,Tottenham,Premier League,26,1996,10,8,...,0.27,0.41,0.96,0.14,0,0,6.3,1.51,1.78,45.8
83,83,Jordan Amavi,FRA,DF,Nice,Ligue 1,28,1994,8,4,...,0,1.52,1.09,0,0,0,10.2,2.17,1.96,52.6
87,87,Nadiem Amiri,GER,MFFW,Leverkusen,Bundesliga,25,1996,13,3,...,0,0.73,0.98,0,0,0,9.02,0.24,0.98,20
142,142,Pierre-Emerick Aubameyang,GAB,FW,Arsenal,Premier League,32,1989,14,12,...,0.87,0.78,0.61,0,0,0,3.3,2.43,2.78,46.7
220,220,Daniele Baselli,ITA,MF,Cagliari,Serie A,30,1992,9,2,...,0,1.56,0.94,0,0,0,10.3,0,1.56,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2832,2832,Wout Weghorst,NED,FW,Wolfsburg,Bundesliga,29,1992,18,17,...,0.81,0.12,0.4,0,0,0,4.74,3.12,2.66,54
2860,2860,Chris Wood,NZL,FW,Burnley,Premier League,30,1991,17,17,...,1.05,0.33,0.53,0,0,0,2.7,7.5,6.91,52.1
2873,2873,Okay Yoku�lu,TUR,DFMF,Getafe,La Liga,28,1994,11,5,...,0,0,1.35,0,0,0,11,3.08,1.35,69.6
2880,2880,Mattia Zaccagni,ITA,FW,Lazio,Serie A,26,1995,29,21,...,0.1,2.02,1.11,0.05,0,0,4.04,0.87,0.96,47.4
2884,2884,Denis Zakaria,SUI,MFDF,M'Gladbach,Bundesliga,25,1996,16,15,...,0.06,0.32,1.23,0,0.06,0,10.9,0.9,0.97,48.3

In [40]:
dataset = dataset.drop_duplicates(subset='Player')
dataset.describe()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
count,2787,2787,2786,2787,2787,2787,2786,2787,2787,2787,...,2787,2787,2787,2787,2787,2787,2787,2787,2787,2787
unique,2787,2787,103,12,101,6,27,28,39,40,...,146,400,271,36,35,21,746,474,465,514
top,1961,Joshua King,ESP,DF,Salernitana,Serie A,25,1997,1,0,...,0,0,0,0,0,0,0,0,0,0
freq,1,1,418,909,42,598,231,235,236,371,...,1423,716,521,2477,2326,2641,107,466,404,466

## Vérification d'éléments *parasites*

### Valeurs de types nulles

In [5]:
dataset.isnull()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2918,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2919,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2920,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2921,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [43]:
# On vérifie d'abord si au moins une valeur est nulle 
dataset.isnull().values.any()

True

In [44]:
# On compte le nombre de valeurs non nulles
dataset.isnull().sum().sum()

2

In [45]:
# On indique leur position
np.where(dataset.isnull())

(array([1459, 1459]), array([2, 6]))

On constate qu'il n' y a qu'une seule ligne qui contient des valeurs nulles

In [46]:
# On supprime la ligne
dataset = dataset.drop(index=1532)

In [47]:
dataset.isnull().values.any()

False

## Conversion des valeurs

In [48]:
# Affichage des types par colonnes
print(dataset.dtypes)

Rk         object
Player     object
Nation     object
Pos        object
Squad      object
            ...
OG         object
Recov      object
AerWon     object
AerLost    object
AerWon%    object
Length: 143, dtype: object

In [59]:
pd.__version__

'0.25.3'

In [58]:
dataset = dataset.convert_dtypes()
dataset

AttributeError: 'DataFrame' object has no attribute 'convert_dtypes'

## Suppression de données non pertinentes pour le problème

### Colonnes qui ne concernent pas directement le problème

In [13]:
# Liste à revoir
to_delete = ['Nation', 'Squad', 'Age']
dataset = dataset.drop(columns=to_delete)

### Colonnes à pourcentages

In [25]:
# On récupère la liste des colonnes dont le nom ne contient pas '%'
cols = [name for name in list(dataset.columns.values) if '%' not in name]
print(cols)

['Rk', 'Player', 'Pos', 'Comp', 'Born', 'MP', 'Starts', 'Min', '90s', 'Goals', 'Shots', 'SoT', 'G/Sh', 'G/SoT', 'ShoDist', 'ShoFK', 'ShoPK', 'PKatt', 'PasTotCmp', 'PasTotAtt', 'PasTotDist', 'PasTotPrgDist', 'PasShoCmp', 'PasShoAtt', 'PasMedCmp', 'PasMedAtt', 'PasLonCmp', 'PasLonAtt', 'Assists', 'PasAss', 'Pas3rd', 'PPA', 'CrsPA', 'PasProg', 'PasAtt', 'PasLive', 'PasDead', 'PasFK', 'TB', 'PasPress', 'Sw', 'PasCrs', 'CK', 'CkIn', 'CkOut', 'CkStr', 'PasGround', 'PasLow', 'PasHigh', 'PaswLeft', 'PaswRight', 'PaswHead', 'TI', 'PaswOther', 'PasCmp', 'PasOff', 'PasOut', 'PasInt', 'PasBlocks', 'SCA', 'ScaPassLive', 'ScaPassDead', 'ScaDrib', 'ScaSh', 'ScaFld', 'ScaDef', 'GCA', 'GcaPassLive', 'GcaPassDead', 'GcaDrib', 'GcaSh', 'GcaFld', 'GcaDef', 'Tkl', 'TklWon', 'TklDef3rd', 'TklMid3rd', 'TklAtt3rd', 'TklDri', 'TklDriAtt', 'TklDriPast', 'Press', 'PresSucc', 'PresDef3rd', 'PresMid3rd', 'PresAtt3rd', 'Blocks', 'BlkSh', 'BlkShSv', 'BlkPass', 'Int', 'Tkl+Int', 'Clr', 'Err', 'Touches', 'TouDefPen', 'TouDef3rd', 'TouMid3rd', 'TouAtt3rd', 'TouAttPen', 'TouLive', 'DriSucc', 'DriAtt', 'DriPast', 'DriMegs', 'Carries', 'CarTotDist', 'CarPrgDist', 'CarProg', 'Car3rd', 'CPA', 'CarMis', 'CarDis', 'RecTarg', 'Rec', 'RecProg', 'CrdY', 'CrdR', '2CrdY', 'Fls', 'Fld', 'Off', 'Crs', 'TklW', 'PKwon', 'PKcon', 'OG', 'Recov', 'AerWon', 'AerLost']

In [27]:
dataset = dataset.filter(items=cols)
dataset.shape

(2921, 130)

### Ratios

In [28]:
cols = [name for name in list(dataset.columns.values) if '/' not in name]
print(cols)

['Rk', 'Player', 'Pos', 'Comp', 'Born', 'MP', 'Starts', 'Min', '90s', 'Goals', 'Shots', 'SoT', 'ShoDist', 'ShoFK', 'ShoPK', 'PKatt', 'PasTotCmp', 'PasTotAtt', 'PasTotDist', 'PasTotPrgDist', 'PasShoCmp', 'PasShoAtt', 'PasMedCmp', 'PasMedAtt', 'PasLonCmp', 'PasLonAtt', 'Assists', 'PasAss', 'Pas3rd', 'PPA', 'CrsPA', 'PasProg', 'PasAtt', 'PasLive', 'PasDead', 'PasFK', 'TB', 'PasPress', 'Sw', 'PasCrs', 'CK', 'CkIn', 'CkOut', 'CkStr', 'PasGround', 'PasLow', 'PasHigh', 'PaswLeft', 'PaswRight', 'PaswHead', 'TI', 'PaswOther', 'PasCmp', 'PasOff', 'PasOut', 'PasInt', 'PasBlocks', 'SCA', 'ScaPassLive', 'ScaPassDead', 'ScaDrib', 'ScaSh', 'ScaFld', 'ScaDef', 'GCA', 'GcaPassLive', 'GcaPassDead', 'GcaDrib', 'GcaSh', 'GcaFld', 'GcaDef', 'Tkl', 'TklWon', 'TklDef3rd', 'TklMid3rd', 'TklAtt3rd', 'TklDri', 'TklDriAtt', 'TklDriPast', 'Press', 'PresSucc', 'PresDef3rd', 'PresMid3rd', 'PresAtt3rd', 'Blocks', 'BlkSh', 'BlkShSv', 'BlkPass', 'Int', 'Tkl+Int', 'Clr', 'Err', 'Touches', 'TouDefPen', 'TouDef3rd', 'TouMid3rd', 'TouAtt3rd', 'TouAttPen', 'TouLive', 'DriSucc', 'DriAtt', 'DriPast', 'DriMegs', 'Carries', 'CarTotDist', 'CarPrgDist', 'CarProg', 'Car3rd', 'CPA', 'CarMis', 'CarDis', 'RecTarg', 'Rec', 'RecProg', 'CrdY', 'CrdR', '2CrdY', 'Fls', 'Fld', 'Off', 'Crs', 'TklW', 'PKwon', 'PKcon', 'OG', 'Recov', 'AerWon', 'AerLost']

In [29]:
dataset = dataset.filter(items=cols)
dataset.shape

(2921, 128)

### Suppression des lignes avec le nombre de matchs joués inférieur ou égale à 5

In [30]:
# A faire

### Autres raisons (plus ou moins arbitraires)
Voir le [mini-rapport](./IAS-projet-validation.pdf) de validation

In [31]:
# A faire